{"swagger":"2.0","info":{"description":"Swagger présentant les différents services REST JSON exposés. Tous les services sont sécurisés avec du Basic Auth, en utilisant l'identifiant et mot de passe généré dans votre compte EASYBEER","version":"2.3.0","title":"Documentation API","contact":{"name":"Dev-Team","url":"https://app.easybeer.fr","email":"easybeer.fr@gmail.com"}},"host":"api.easybeer.fr","basePath":"/","tags":[{"name":"controleur-action","description":"Controleur Action"},{"name":"controleur-brassage-evenement","description":"Controleur Brassage Evenement"},{"name":"controleur-brasserie","description":"Controleur Brasserie"},{"name":"controleur-brassin","description":"Controleur Brassin"},{"name":"controleur-caisse","description":"Controleur Caisse"},{"name":"controleur-commande","description":"Controleur Commande"},{"name":"controleur-comptabilite","description":"Controleur Comptabilite"},{"name":"controleur-crm","description":"Controleur CRM"},{"name":"controleur-dashboard","description":"Controleur Dashboard"},{"name":"controleur-document","description":"Controleur Document"},{"name":"controleur-douane","description":"Controleur Douane"},{"name":"controleur-formation","description":"Controleur Formation"},{"name":"controleur-fourniture","description":"Controleur Fourniture"},{"name":"controleur-fut","description":"Controleur Fut"},{"name":"controleur-hey-billy","description":"Controleur Hey Billy"},{"name":"controleur-indicateur","description":"Controleur Indicateur"},{"name":"controleur-location","description":"Controleur Location"},{"name":"controleur-marketplace","description":"Controleur Marketplace"},{"name":"controleur-notification","description":"Controleur Notification"},{"name":"controleur-ordonnanceur","description":"Controleur Ordonnanceur"},{"name":"controleur-parametres","description":"Controleur Parametres"},{"name":"controleur-partenaire","description":"Controleur Partenaire"},{"name":"controleur-point-vente","description":"Controleur Point Vente"},{"name":"controleur-preference","description":"Controleur Preference"},{"name":"controleur-prestashop","description":"Controleur Prestashop"},{"name":"controleur-procedure","description":"Controleur Procedure"},{"name":"controleur-profil","description":"Controleur Profil"},{"name":"controleur-publipostage","description":"Controleur Publipostage"},{"name":"controleur-referentiel","description":"Controleur Referentiel"},{"name":"controleur-shopify","description":"Controleur Shopify"},{"name":"controleur-sidely","description":"Controleur Sidely"},{"name":"controleur-stock","description":"Controleur Stock"},{"name":"controleur-support","description":"Controleur Support"},{"name":"controleur-tracabilite","description":"Controleur Tracabilite"},{"name":"controleur-woo-commerce","description":"Controleur Woo Commerce"}],"paths":{"/action/liste":{"post":{"tags":["controleur-action"],"summary":"listePagineeActions","operationId":"listePagineeActionsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"colonneTri","in":"query","description":"colonneTri","required":true,"type":"string"},{"in":"body","name":"modeleFiltre","description":"modeleFiltre","required":true,"schema":{"$ref":"#/definitions/ModeleActionFiltre"}},{"name":"nombreParPage","in":"query","description":"nombreParPage","required":true,"type":"integer","format":"int32"},{"name":"numeroPage","in":"query","description":"numeroPage","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListePagineeOfModeleAction"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassage/evenement/enregistrer":{"post":{"tags":["controleur-brassage-evenement"],"summary":"enregistrer","operationId":"enregistrerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassageEvenement","description":"modeleBrassageEvenement","required":true,"schema":{"$ref":"#/definitions/ModeleBrassageEvenement"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleId"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassage/evenement/supprimer/{idEvennement}":{"get":{"tags":["controleur-brassage-evenement"],"summary":"supprimer","operationId":"supprimerUsingGET","produces":["*/*"],"parameters":[{"name":"idEvennement","in":"path","description":"idEvennement","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassage/evenement/{idEvenement}":{"get":{"tags":["controleur-brassage-evenement"],"summary":"editerEtapeBrassage","operationId":"editerEtapeBrassageUsingGET","produces":["*/*"],"parameters":[{"name":"idEvenement","in":"path","description":"idEvenement","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassageEvenement"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie":{"get":{"tags":["controleur-brasserie"],"summary":"brasserieUtilisateurCourant","operationId":"brasserieUtilisateurCourantUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrasserie"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/acces-client-pro/lien":{"get":{"tags":["controleur-brasserie"],"summary":"genererLienAccesClientPro","operationId":"genererLienAccesClientProUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/attestation/telecharger":{"get":{"tags":["controleur-brasserie"],"summary":"attestation","operationId":"attestationUsingGET","produces":["application/octet-stream"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/cgv":{"post":{"tags":["controleur-brasserie"],"summary":"cgvBrasserieUpload","operationId":"cgvBrasserieUploadUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleUpload"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/cgv/supprimer":{"get":{"tags":["controleur-brasserie"],"summary":"supprimerCgv","operationId":"supprimerCgvUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/cgv/telecharger":{"get":{"tags":["controleur-brasserie"],"summary":"telechargerCgv","operationId":"telechargerCgvUsingGET","produces":["application/octet-stream"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/cgv/visualiser":{"get":{"tags":["controleur-brasserie"],"summary":"visualiserCgv","operationId":"visualiserCgvUsingGET","produces":["application/pdf"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/compte/achat":{"get":{"tags":["controleur-brasserie"],"summary":"compteAchatBrasserie","operationId":"compteAchatBrasserieUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelePlanComptable"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/compte/produit":{"get":{"tags":["controleur-brasserie"],"summary":"compteProduitBrasserie","operationId":"compteProduitBrasserieUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelePlanComptable"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/compte/service":{"get":{"tags":["controleur-brasserie"],"summary":"compteServiceBrasserie","operationId":"compteServiceBrasserieUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelePlanComptable"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/demande-contact/lien":{"get":{"tags":["controleur-brasserie"],"summary":"genererLienDemandeContactProspect","operationId":"genererLienDemandeContactProspectUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/demande-creation-compte":{"post":{"tags":["controleur-brasserie"],"summary":"demandeCreationCompte","operationId":"demandeCreationCompteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleFormulaireProspect"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/masque":{"post":{"tags":["controleur-brasserie"],"summary":"masqueBrasserieUpload","operationId":"masqueBrasserieUploadUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"file","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleUpload"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/masque/supprimer":{"get":{"tags":["controleur-brasserie"],"summary":"supprimerMasque","operationId":"supprimerMasqueUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/masque/telecharger":{"get":{"tags":["controleur-brasserie"],"summary":"telechargerMasque","operationId":"telechargerMasqueUsingGET","produces":["application/octet-stream"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/masque/visualiser":{"get":{"tags":["controleur-brasserie"],"summary":"visualiserMasque","operationId":"visualiserMasqueUsingGET","produces":["application/pdf"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/message/liste":{"post":{"tags":["controleur-brasserie"],"summary":"listePagineeMessages","operationId":"listePagineeMessagesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"colonneTri","in":"query","description":"colonneTri","required":true,"type":"string"},{"in":"body","name":"modeleFiltre","description":"modeleFiltre","required":true,"schema":{"$ref":"#/definitions/ModeleMessageFiltre"}},{"name":"nombreParPage","in":"query","description":"nombreParPage","required":true,"type":"integer","format":"int32"},{"name":"numeroPage","in":"query","description":"numeroPage","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListePagineeOfModeleLogMessage"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/smtp/test":{"post":{"tags":["controleur-brasserie"],"summary":"testConfigurationSMTP","operationId":"testConfigurationSMTPUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleMail","description":"modeleMail","required":true,"schema":{"$ref":"#/definitions/ModeleMail"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReponseMail"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brasserie/token/{token}":{"get":{"tags":["controleur-brasserie"],"summary":"recupererBrasserieToken","operationId":"recupererBrasserieTokenUsingGET","produces":["*/*"],"parameters":[{"name":"token","in":"path","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrasserie"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/ajouter-ingredient-conditionnement":{"post":{"tags":["controleur-brassin"],"summary":"ajouterIngredientConditionnement","operationId":"ajouterIngredientConditionnementUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleStockConditionnement"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/annuler":{"post":{"tags":["controleur-brassin"],"summary":"annuler","operationId":"annulerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassinAnnulation","description":"modeleBrassinAnnulation","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinAnnulation"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/annuler-archivage/{idBrassin}":{"get":{"tags":["controleur-brassin"],"summary":"annulerArchivage","operationId":"annulerArchivageUsingGET","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/annuler-mise-en-bouteille/{idBrassin}":{"get":{"tags":["controleur-brassin"],"summary":"annulerMiseEnBouteille","operationId":"annulerMiseEnBouteilleUsingGET","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/archives":{"post":{"tags":["controleur-brassin"],"summary":"listePagineeBrassinsArchives","operationId":"listePagineeBrassinsArchivesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"colonneTri","in":"query","description":"colonneTri","required":true,"type":"string"},{"in":"body","name":"modeleFiltre","description":"modeleFiltre","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinFiltre"}},{"name":"nombreParPage","in":"query","description":"nombreParPage","required":true,"type":"integer","format":"int32"},{"name":"numeroPage","in":"query","description":"numeroPage","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListePagineeOfModeleBrassin"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/archives/export":{"post":{"tags":["controleur-brassin"],"summary":"exportBrassinsArchives","operationId":"exportBrassinsArchivesUsingPOST","consumes":["application/json"],"produces":["application/octet-stream"],"parameters":[{"name":"colonneTri","in":"query","description":"colonneTri","required":true,"type":"string"},{"in":"body","name":"modeleFiltre","description":"modeleFiltre","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinFiltre"}},{"name":"nombreParPage","in":"query","description":"nombreParPage","required":true,"type":"integer","format":"int32"},{"name":"numeroPage","in":"query","description":"numeroPage","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/assemblage":{"post":{"tags":["controleur-brassin"],"summary":"assemblage","operationId":"assemblageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinAssemblage"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/assemblage/liste/{idBrassin}":{"get":{"tags":["controleur-brassin"],"summary":"listeBrassinAssemblage","operationId":"listeBrassinAssemblageUsingGET","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ModeleBrassin"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/changer-etape":{"post":{"tags":["controleur-brassin"],"summary":"changerBrassinEtape","operationId":"changerBrassinEtapeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassinChangementEtape","description":"modeleBrassinChangementEtape","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinChangementEtape"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassin"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/cout-production/export/{idBrassin}":{"get":{"tags":["controleur-brassin"],"summary":"exportCoutProductionBrassin","operationId":"exportCoutProductionBrassinUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/cout-production/maj-cout-revient":{"post":{"tags":["controleur-brassin"],"summary":"majCoutRevientUnitaireStockProduit","operationId":"majCoutRevientUnitaireStockProduitUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleMAJCoutRevient"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/cout-production/{idBrassin}":{"get":{"tags":["controleur-brassin"],"summary":"coutProductionBrassin","operationId":"coutProductionBrassinUsingGET","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassinCoutProduction"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/decaler":{"post":{"tags":["controleur-brassin"],"summary":"decaler","operationId":"decalerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassin"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/deduction-stocks-conditionnement":{"post":{"tags":["controleur-brassin"],"summary":"deductionStocksConditionnement","operationId":"deductionStocksConditionnementUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleStockProduit","description":"modeleStockProduit","required":true,"schema":{"$ref":"#/definitions/ModeleStockProduit"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassinDeductionStockConditionnement"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/demarrer":{"post":{"tags":["controleur-brassin"],"summary":"demarrer","operationId":"demarrerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassin","description":"modeleBrassin","required":true,"schema":{"$ref":"#/definitions/ModeleBrassin"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/determiner-identifiant":{"post":{"tags":["controleur-brassin"],"summary":"determinerIdentifiantBrassin","operationId":"determinerIdentifiantBrassinUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinDeterminerIdentifiant"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/detruire":{"post":{"tags":["controleur-brassin"],"summary":"detruire","operationId":"detruireUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassinDestruction","description":"modeleBrassinDestruction","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinDestruction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/distillation/enregistrer":{"post":{"tags":["controleur-brassin"],"summary":"creationDistillation","operationId":"creationDistillationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinDistillation"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/duplication/{idBrassin}":{"get":{"tags":["controleur-brassin"],"summary":"chargerBrassinDuplication","operationId":"chargerBrassinDuplicationUsingGET","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassin"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/editer-cout-eau":{"post":{"tags":["controleur-brassin"],"summary":"editerCoutEau","operationId":"editerCoutEauUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinEditerCoutEau"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/editer-cout-ingredient":{"post":{"tags":["controleur-brassin"],"summary":"editerCoutIngredient","operationId":"editerCoutIngredientUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinIngredient"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/editer-date-retour-embouteilleur":{"post":{"tags":["controleur-brassin"],"summary":"editerDateRetourEmbouteilleur","operationId":"editerDateRetourEmbouteilleurUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassin","description":"modeleBrassin","required":true,"schema":{"$ref":"#/definitions/ModeleBrassin"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassin"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/editer-date-sortie-embouteilleur":{"post":{"tags":["controleur-brassin"],"summary":"editerDateSortieEmbouteilleur","operationId":"editerDateSortieEmbouteilleurUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassin","description":"modeleBrassin","required":true,"schema":{"$ref":"#/definitions/ModeleBrassin"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassin"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/edition/{idBrassin}":{"get":{"tags":["controleur-brassin"],"summary":"editerBrassin","operationId":"editerBrassinUsingGET","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassin"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/annuler-archiver/{id}":{"get":{"tags":["controleur-brassin"],"summary":"annulerArchiverElevage","operationId":"annulerArchiverElevageUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/archiver":{"post":{"tags":["controleur-brassin"],"summary":"archiverElevage","operationId":"archiverElevageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinElevageArchiver"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/archives":{"post":{"tags":["controleur-brassin"],"summary":"getElevagesArchives","operationId":"getElevagesArchivesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"colonneTri","in":"query","description":"colonneTri","required":true,"type":"string"},{"in":"body","name":"modeleFiltre","description":"modeleFiltre","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinElevageFiltre"}},{"name":"nombreParPage","in":"query","description":"nombreParPage","required":true,"type":"integer","format":"int32"},{"name":"numeroPage","in":"query","description":"numeroPage","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListePagineeOfModeleBrassinElevage"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/detail/{id}":{"get":{"tags":["controleur-brassin"],"summary":"getElevage","operationId":"getElevageUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassinElevage"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/disponibles":{"get":{"tags":["controleur-brassin"],"summary":"getElevagesDisponibles","operationId":"getElevagesDisponiblesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ModeleBrassinElevage"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/distillation/enregistrer":{"post":{"tags":["controleur-brassin"],"summary":"creationDistillationElevage","operationId":"creationDistillationElevageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleElevageDistillation"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/en-cours":{"post":{"tags":["controleur-brassin"],"summary":"elevagesEnCours","operationId":"elevagesEnCoursUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"colonneTri","in":"query","description":"colonneTri","required":true,"type":"string"},{"in":"body","name":"modeleFiltre","description":"modeleFiltre","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinElevageFiltre"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ModeleBrassinElevage"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/en-cours/synthese":{"post":{"tags":["controleur-brassin"],"summary":"syntheseElevagesEnCours","operationId":"syntheseElevagesEnCoursUsingPOST","consumes":["application/json"],"produces":["application/octet-stream"],"parameters":[{"name":"colonneTri","in":"query","description":"colonneTri","required":true,"type":"string"},{"in":"body","name":"modeleFiltre","description":"modeleFiltre","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinElevageFiltre"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/enregistrer":{"post":{"tags":["controleur-brassin"],"summary":"enregistrerElevage","operationId":"enregistrerElevageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinElevage"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/fiche-fabrication":{"post":{"tags":["controleur-brassin"],"summary":"ficheFabricationElevage","operationId":"ficheFabricationElevageUsingPOST","consumes":["application/json"],"produces":["application/octet-stream"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinElevageGenererFiche"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/part-anges":{"post":{"tags":["controleur-brassin"],"summary":"appliquerPartAnges","operationId":"appliquerPartAngesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinPartAnges"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/reduction":{"post":{"tags":["controleur-brassin"],"summary":"reductionElevage","operationId":"reductionElevageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinElevageReduction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/supprimer/{id}":{"get":{"tags":["controleur-brassin"],"summary":"supprimerElevage","operationId":"supprimerElevageUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/transfert":{"post":{"tags":["controleur-brassin"],"summary":"transfertElevage","operationId":"transfertElevageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinElevageTransfert"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/upload/{id}":{"post":{"tags":["controleur-brassin"],"summary":"uploadFichierElevage","operationId":"uploadFichierElevageUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"commentaire","in":"query","description":"commentaire","required":false,"type":"string"},{"name":"fichier","in":"formData","description":"fichier","required":true,"type":"file"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleUpload"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/elevage/vider":{"post":{"tags":["controleur-brassin"],"summary":"viderElevage","operationId":"viderElevageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinElevageVidage"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/en-cours":{"post":{"tags":["controleur-brassin"],"summary":"brassinsEnCours","operationId":"brassinsEnCoursUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleFiltre","description":"modeleFiltre","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinFiltre"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassageEnCours"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/en-cours/liste":{"get":{"tags":["controleur-brassin"],"summary":"listeBrassinsEnCours","operationId":"listeBrassinsEnCoursUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ModeleBrassin"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/enregistrer":{"post":{"tags":["controleur-brassin"],"summary":"enregistrer","operationId":"enregistrerUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassin","description":"modeleBrassin","required":true,"schema":{"$ref":"#/definitions/ModeleBrassin"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleId"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/fiche-fabrication":{"post":{"tags":["controleur-brassin"],"summary":"ficheFabricationBrassin","operationId":"ficheFabricationBrassinUsingPOST","consumes":["application/json"],"produces":["application/octet-stream"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinGenererFiche"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/informations-etape":{"post":{"tags":["controleur-brassin"],"summary":"getInformationsEtape","operationId":"getInformationsEtapeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassinChangementEtape","description":"modeleBrassinChangementEtape","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinChangementEtape"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassinEtapeSuivante"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/liberer-materiel/{idMateriel}":{"get":{"tags":["controleur-brassin"],"summary":"affecterMateriel","operationId":"affecterMaterielUsingGET","produces":["*/*"],"parameters":[{"name":"idMateriel","in":"path","description":"idMateriel","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/liste":{"post":{"tags":["controleur-brassin"],"summary":"listeBrassins","operationId":"listeBrassinsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"periode","description":"periode","required":true,"schema":{"$ref":"#/definitions/Periode"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ModeleBrassin"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/mesure/enregistrer":{"post":{"tags":["controleur-brassin"],"summary":"enregistrerMesure","operationId":"enregistrerMesureUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassinMesure","description":"modeleBrassinMesure","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinMesure"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/mesure/export/{idBrassin}":{"get":{"tags":["controleur-brassin"],"summary":"exportSuiviQualiteBrassin","operationId":"exportSuiviQualiteBrassinUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/mesure/supprimer/{idBrassinMesure}":{"get":{"tags":["controleur-brassin"],"summary":"supprimerMesure","operationId":"supprimerMesureUsingGET","produces":["*/*"],"parameters":[{"name":"idBrassinMesure","in":"path","description":"idBrassinMesure","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/mesure/{idBrassin}":{"get":{"tags":["controleur-brassin"],"summary":"mesures","operationId":"mesuresUsingGET","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassinSuiviQualite"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/mise-en-bouteille":{"post":{"tags":["controleur-brassin"],"summary":"conditionnement","operationId":"conditionnementUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleStockProduit","description":"modeleStockProduit","required":true,"schema":{"$ref":"#/definitions/ModeleStockProduit"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/planification-conditionnement/ajouter":{"post":{"tags":["controleur-brassin"],"summary":"ajouterPlanificationConditionnement","operationId":"ajouterPlanificationConditionnementUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModelePlanificationConditionnement"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/planification-conditionnement/editer":{"post":{"tags":["controleur-brassin"],"summary":"editerPlanificationConditionnement","operationId":"editerPlanificationConditionnementUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinPlanificationProduction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/planification-conditionnement/matrice":{"get":{"tags":["controleur-brassin"],"summary":"matricePlanificationConditionnement","operationId":"matricePlanificationConditionnementUsingGET","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"query","description":"idBrassin","required":false,"type":"integer","format":"int64"},{"name":"idEntrepot","in":"query","description":"idEntrepot","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleMatricePlanificationConditionnement"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/planification-conditionnement/supprimer/{id}":{"get":{"tags":["controleur-brassin"],"summary":"supprimerPlanificationConditionnement","operationId":"supprimerPlanificationConditionnementUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/planifier":{"post":{"tags":["controleur-brassin"],"summary":"planifier","operationId":"planifierUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassin","description":"modeleBrassin","required":true,"schema":{"$ref":"#/definitions/ModeleBrassin"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleId"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/planifier/edition/{idBrassin}":{"get":{"tags":["controleur-brassin"],"summary":"editerBrassinCalendrier","operationId":"editerBrassinCalendrierUsingGET","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassin"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/planning":{"post":{"tags":["controleur-brassin"],"summary":"brassinsPlanning","operationId":"brassinsPlanningUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"periode","description":"periode","required":true,"schema":{"$ref":"#/definitions/Periode"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ModeleGantt"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/planning/materiel":{"post":{"tags":["controleur-brassin"],"summary":"planningMateriel","operationId":"planningMaterielUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"parametre","description":"parametre","required":true,"schema":{"$ref":"#/definitions/ModelePlanningMaterielParametre"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ModeleGantt"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/preparation-conditionnement/{type}/{id}":{"get":{"tags":["controleur-brassin"],"summary":"preparationMiseEnBouteille","operationId":"preparationMiseEnBouteilleUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"name":"idProduit","in":"query","description":"idProduit","required":false,"type":"integer","format":"int64"},{"name":"type","in":"path","description":"type","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleStockProduit"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/prevision-conditionnement":{"post":{"tags":["controleur-brassin"],"summary":"previsionConditionnement","operationId":"previsionConditionnementUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinPrevisionConditionnement"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassinPrevisionConditionnement"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/prevision-conditionnement/export":{"post":{"tags":["controleur-brassin"],"summary":"exportPrevisionConditionnement","operationId":"exportPrevisionConditionnementUsingPOST","consumes":["application/json"],"produces":["application/octet-stream"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinPrevisionConditionnement"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/prevision-conditionnement/generer-ordre-production":{"post":{"tags":["controleur-brassin"],"summary":"genererOrdreProduction","operationId":"genererOrdreProductionUsingPOST","consumes":["application/json"],"produces":["application/octet-stream"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinPrevisionConditionnement"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/rentabilite":{"post":{"tags":["controleur-brassin"],"summary":"rentabiliteBrassin","operationId":"rentabiliteBrassinUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"requete","description":"requete","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinRentabiliteRequete"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassinRentabilite"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/rentabilite/export":{"post":{"tags":["controleur-brassin"],"summary":"exportRentabiliteBrassin","operationId":"exportRentabiliteBrassinUsingPOST","consumes":["application/json"],"produces":["application/octet-stream"],"parameters":[{"in":"body","name":"requete","description":"requete","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinRentabiliteRequete"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/suppression-archive":{"post":{"tags":["controleur-brassin"],"summary":"suppressionArchive","operationId":"suppressionArchiveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassinAnnulation","description":"modeleBrassinAnnulation","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinAnnulation"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/supprimer-ingredient-conditionnement":{"post":{"tags":["controleur-brassin"],"summary":"supprimerIngredientConditionnement","operationId":"supprimerIngredientConditionnementUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBrassinIngredient"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/supprimer/{idBrassin}":{"get":{"tags":["controleur-brassin"],"summary":"supprimer","operationId":"supprimerUsingGET_1","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/terminer":{"post":{"tags":["controleur-brassin"],"summary":"terminer","operationId":"terminerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassin","description":"modeleBrassin","required":true,"schema":{"$ref":"#/definitions/ModeleBrassin"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/transferer":{"post":{"tags":["controleur-brassin"],"summary":"transfert","operationId":"transfertUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleBrassin","description":"modeleBrassin","required":true,"schema":{"$ref":"#/definitions/ModeleBrassin"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/upload/{idBrassin}":{"post":{"tags":["controleur-brassin"],"summary":"uploadFichier","operationId":"uploadFichierUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"commentaire","in":"query","description":"commentaire","required":false,"type":"string"},{"name":"fichier","in":"formData","description":"fichier","required":true,"type":"file"},{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleUpload"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/{idBrassin}":{"get":{"tags":["controleur-brassin"],"summary":"brassin","operationId":"brassinUsingGET","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassin"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/{idBrassin}/affecter-materiel/{idMateriel}":{"get":{"tags":["controleur-brassin"],"summary":"affecterMateriel","operationId":"affecterMaterielUsingGET_1","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"},{"name":"idMateriel","in":"path","description":"idMateriel","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/brassin/{idBrassin}/annuler-etape":{"get":{"tags":["controleur-brassin"],"summary":"annulerBrassinEtape","operationId":"annulerBrassinEtapeUsingGET","produces":["*/*"],"parameters":[{"name":"idBrassin","in":"path","description":"idBrassin","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleBrassin"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/caisse/connexion":{"post":{"tags":["controleur-caisse"],"summary":"connexion","operationId":"connexionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"authentificationApiCaisse","description":"authentificationApiCaisse","required":true,"schema":{"$ref":"#/definitions/ModeleAuthentificationApiCaisse"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/caisse/connexion/check":{"get":{"tags":["controleur-caisse"],"summary":"checkConnexion","operationId":"checkConnexionUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/caisse/connexion/editer":{"post":{"tags":["controleur-caisse"],"summary":"editerConnexion","operationId":"editerConnexionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"authentificationApiCaisse","description":"authentificationApiCaisse","required":true,"schema":{"$ref":"#/definitions/ModeleAuthentificationApiCaisse"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/caisse/deconnexion":{"get":{"tags":["controleur-caisse"],"summary":"decconnexion","operationId":"decconnexionUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/caisse/etablissement/liste":{"get":{"tags":["controleur-caisse"],"summary":"listeEtablissements","operationId":"listeEtablissementsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiCaisseEtablissement"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/caisse/mapping/enregistrer":{"post":{"tags":["controleur-caisse"],"summary":"enregistrerMapping","operationId":"enregistrerMappingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleMappingCaisseProduit","description":"modeleMappingCaisseProduit","required":true,"schema":{"$ref":"#/definitions/ModeleMappingCaisseProduit"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleId"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/caisse/mapping/liste":{"get":{"tags":["controleur-caisse"],"summary":"listeMapping","operationId":"listeMappingUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ModeleMappingCaisseProduit"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/caisse/mapping/supprimer/{idCaisseMappingProduit}":{"get":{"tags":["controleur-caisse"],"summary":"supprimerMapping","operationId":"supprimerMappingUsingGET","produces":["*/*"],"parameters":[{"name":"idCaisseMappingProduit","in":"path","description":"idCaisseMappingProduit","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/caisse/synchronisation":{"post":{"tags":["controleur-caisse"],"summary":"synchronisationPointVente","operationId":"synchronisationPointVenteUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"periode","description":"periode","required":true,"schema":{"$ref":"#/definitions/Periode"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/caisse/synchronisation/{idPointVente}":{"post":{"tags":["controleur-caisse"],"summary":"synchronisationPointVente","operationId":"synchronisationPointVenteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idPointVente","in":"path","description":"idPointVente","required":true,"type":"integer","format":"int64"},{"in":"body","name":"periode","description":"periode","required":true,"schema":{"$ref":"#/definitions/Periode"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/ajouter-element-deconsignation":{"post":{"tags":["controleur-commande"],"summary":"ajouterElementDeconsignation","operationId":"ajouterElementDeconsignationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleDeconsignation","description":"modeleDeconsignation","required":true,"schema":{"$ref":"#/definitions/ModeleElementDeconsignation"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/annuler":{"post":{"tags":["controleur-commande"],"summary":"annulerCommande","operationId":"annulerCommandeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleCommande","description":"modeleCommande","required":true,"schema":{"$ref":"#/definitions/ModeleCommande"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/annuler-livraison":{"post":{"tags":["controleur-commande"],"summary":"annulerLivraisonCommande","operationId":"annulerLivraisonCommandeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"commande","description":"commande","required":true,"schema":{"$ref":"#/definitions/ModeleCommande"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/annuler-regroupement/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"annulerRegroupement","operationId":"annulerRegroupementUsingGET","produces":["*/*"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/archiver":{"post":{"tags":["controleur-commande"],"summary":"archiverMultiCommandes","operationId":"archiverMultiCommandesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"idsCommandes","description":"idsCommandes","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/archiver/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"archiverCommande","operationId":"archiverCommandeUsingGET","produces":["*/*"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/autres-non-payees/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"recupererAutresCommandesNonPayees","operationId":"recupererAutresCommandesNonPayeesUsingGET","produces":["*/*"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ModeleCommandePaiementAutre"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/avoir/marquer-utilise":{"post":{"tags":["controleur-commande"],"summary":"marquerAvoirCommeUtilise","operationId":"marquerAvoirCommeUtiliseUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleAvoirUtiliser"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/avoir/rembourser":{"post":{"tags":["controleur-commande"],"summary":"rembourserAvoir","operationId":"rembourserAvoirUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleAvoirRemboursement","description":"modeleAvoirRemboursement","required":true,"schema":{"$ref":"#/definitions/ModeleAvoirRemboursement"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/avoir/retirer/{idCommandeAvoirUtilisation}":{"get":{"tags":["controleur-commande"],"summary":"retirerAvoir","operationId":"retirerAvoirUsingGET","produces":["*/*"],"parameters":[{"name":"idCommandeAvoirUtilisation","in":"path","description":"idCommandeAvoirUtilisation","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/avoir/utiliser":{"post":{"tags":["controleur-commande"],"summary":"utiliserAvoir","operationId":"utiliserAvoirUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleAvoirUtiliser","description":"modeleAvoirUtiliser","required":true,"schema":{"$ref":"#/definitions/ModeleAvoirUtiliser"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/bordereau-livraison":{"post":{"tags":["controleur-commande"],"summary":"genererBordereauLivraison","operationId":"genererBordereauLivraisonUsingPOST","consumes":["application/json"],"produces":["application/octet-stream"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleBordereauLivraisonRequete"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/calculer-poids":{"post":{"tags":["controleur-commande"],"summary":"calculerPoids","operationId":"calculerPoidsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleCommande","description":"modeleCommande","required":true,"schema":{"$ref":"#/definitions/ModeleCommande"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/caution/rembourser/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"rembourserCaution","operationId":"rembourserCautionUsingGET","produces":["*/*"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/changement-etat":{"post":{"tags":["controleur-commande"],"summary":"changementEtatMultiCommandes","operationId":"changementEtatMultiCommandesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleChangementEtatMultiple"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/chorus-pro/envoyer":{"post":{"tags":["controleur-commande"],"summary":"envoyerChorusPro","operationId":"envoyerChorusProUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleSoumettreDocumentChorusPro"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/chorus-pro/preparer/{idCommandeDocument}":{"get":{"tags":["controleur-commande"],"summary":"preparerEnvoiChorusPro","operationId":"preparerEnvoiChorusProUsingGET","produces":["*/*"],"parameters":[{"name":"idCommandeDocument","in":"path","description":"idCommandeDocument","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/client/relancer":{"post":{"tags":["controleur-commande"],"summary":"relancerClient","operationId":"relancerClientUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleRelanceClient","description":"modeleRelanceClient","required":true,"schema":{"$ref":"#/definitions/ModeleRelanceClient"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/client/relancer-multiple":{"post":{"tags":["controleur-commande"],"summary":"relancerMultiClients","operationId":"relancerMultiClientsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleRelanceClient","description":"modeleRelanceClient","required":true,"schema":{"$ref":"#/definitions/ModeleRelanceClient"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/client/relancer/courrier/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"genererRelanceCourrier","operationId":"genererRelanceCourrierUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/client/relancer/mise-en-demeure/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"genererRelanceMiseEnDemeure","operationId":"genererRelanceMiseEnDemeureUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/commande-en-cours/{idClient}":{"get":{"tags":["controleur-commande"],"summary":"getCommandeClientEnCours","operationId":"getCommandeClientEnCoursUsingGET","produces":["*/*"],"parameters":[{"name":"idClient","in":"path","description":"idClient","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/convertir-commande-devis/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"transformerCommandeEnDevis","operationId":"transformerCommandeEnDevisUsingGET","produces":["*/*"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleId"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/convertir-devis-commande/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"transformerDevisEnCommande","operationId":"transformerDevisEnCommandeUsingGET","produces":["*/*"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"},{"name":"transformerProspectEnClient","in":"query","description":"transformerProspectEnClient","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleId"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/corriger-numero-lot-multiple":{"post":{"tags":["controleur-commande"],"summary":"corrigerNumerosLotsCommande","operationId":"corrigerNumerosLotsCommandeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleCommandeCorrigerNumeroLot"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/corriger-numero-lot/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"corrigerNumerosLotsCommande","operationId":"corrigerNumerosLotsCommandeUsingGET","produces":["*/*"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/degrouper/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"degrouperCommande","operationId":"degrouperCommandeUsingGET","produces":["*/*"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/derniere-commande/{idClient}":{"get":{"tags":["controleur-commande"],"summary":"getDerniereCommande","operationId":"getDerniereCommandeUsingGET","produces":["*/*"],"parameters":[{"name":"idClient","in":"path","description":"idClient","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/desarchiver":{"post":{"tags":["controleur-commande"],"summary":"desarchiverMultiCommandes","operationId":"desarchiverMultiCommandesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"idsCommandes","description":"idsCommandes","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/desarchiver/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"desarchiverCommande","operationId":"desarchiverCommandeUsingGET","produces":["*/*"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/detail/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"detailCommande","operationId":"detailCommandeUsingGET","produces":["*/*"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/devis/accepter/{token}":{"get":{"tags":["controleur-commande"],"summary":"accepterDevis","operationId":"accepterDevisUsingGET","produces":["*/*"],"parameters":[{"name":"token","in":"path","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/devis/refuser/{token}":{"get":{"tags":["controleur-commande"],"summary":"refuserDevis","operationId":"refuserDevisUsingGET","produces":["*/*"],"parameters":[{"name":"token","in":"path","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/differer":{"post":{"tags":["controleur-commande"],"summary":"differerCommande","operationId":"differerCommandeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleCommandeDifferer","description":"modeleCommandeDifferer","required":true,"schema":{"$ref":"#/definitions/ModeleCommandeDifferer"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/document/enregistrer":{"post":{"tags":["controleur-commande"],"summary":"enregistrerDocument","operationId":"enregistrerDocumentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modelePdf","description":"modelePdf","required":true,"schema":{"$ref":"#/definitions/ModelePdf"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/document/envoyer":{"post":{"tags":["controleur-commande"],"summary":"envoyerDocument","operationId":"envoyerDocumentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleDocumentEnvoi","description":"modeleDocumentEnvoi","required":true,"schema":{"$ref":"#/definitions/ModeleDocumentEnvoi"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/document/supprimer":{"post":{"tags":["controleur-commande"],"summary":"supprimerDocument","operationId":"supprimerDocumentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleCommandeDocumentSupprimer"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/document/telecharger/duplicata/{idCommandeDocument}":{"get":{"tags":["controleur-commande"],"summary":"telechargerDuplicataDocument","operationId":"telechargerDuplicataDocumentUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"idCommandeDocument","in":"path","description":"idCommandeDocument","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/document/telecharger/token/{token}":{"get":{"tags":["controleur-commande"],"summary":"telechargerDocumentToken","operationId":"telechargerDocumentTokenUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"token","in":"path","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/document/telecharger/{idCommandeDocument}":{"get":{"tags":["controleur-commande"],"summary":"telechargerDocument","operationId":"telechargerDocumentUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"idCommandeDocument","in":"path","description":"idCommandeDocument","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/document/visualiser/{idCommandeDocument}":{"get":{"tags":["controleur-commande"],"summary":"visualiserDocument","operationId":"visualiserDocumentUsingGET","produces":["application/pdf"],"parameters":[{"name":"idCommandeDocument","in":"path","description":"idCommandeDocument","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/documents/avoirs/enregistrer":{"post":{"tags":["controleur-commande"],"summary":"genererAvoirMultiClients","operationId":"genererAvoirMultiClientsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeles","description":"modeles","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ModelePdf"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/documents/enregistrer":{"post":{"tags":["controleur-commande"],"summary":"enregistrerDocuments","operationId":"enregistrerDocumentsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modelePdf","description":"modelePdf","required":true,"schema":{"$ref":"#/definitions/ModelePdf"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/documents/envoyer":{"post":{"tags":["controleur-commande"],"summary":"envoiMultiDocuments","operationId":"envoiMultiDocumentsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleEnvoiDocumentMultiple"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/documents/telecharger":{"post":{"tags":["controleur-commande"],"summary":"telechargerMultiDocuments","operationId":"telechargerMultiDocumentsUsingPOST","consumes":["application/json"],"produces":["application/octet-stream"],"parameters":[{"in":"body","name":"modeleTelechargementMultiple","description":"modeleTelechargementMultiple","required":true,"schema":{"$ref":"#/definitions/ModeleTelechargementMultiple"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/documents/telecharger/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"telechargerDocuments","operationId":"telechargerDocumentsUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/dupliquer/{idCommande}":{"get":{"tags":["controleur-commande"],"summary":"dupliquerCommande","operationId":"dupliquerCommandeUsingGET","produces":["*/*"],"parameters":[{"name":"idCommande","in":"path","description":"idCommande","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/edi/export":{"post":{"tags":["controleur-commande"],"summary":"genererExportEDI","operationId":"genererExportEDIUsingPOST","consumes":["application/json"],"produces":["application/octet-stream"],"parameters":[{"in":"body","name":"modele","description":"modele","required":true,"schema":{"$ref":"#/definitions/ModeleExportEDI"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InputStreamResource"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-caution":{"post":{"tags":["controleur-commande"],"summary":"editerCaution","operationId":"editerCautionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleCommande","description":"modeleCommande","required":true,"schema":{"$ref":"#/definitions/ModeleCommande"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-commentaire":{"post":{"tags":["controleur-commande"],"summary":"editerCommentaire","operationId":"editerCommentaireUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleCommande","description":"modeleCommande","required":true,"schema":{"$ref":"#/definitions/ModeleCommande"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-commentaire-client":{"post":{"tags":["controleur-commande"],"summary":"editerCommentaireClient","operationId":"editerCommentaireClientUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleCommande","description":"modeleCommande","required":true,"schema":{"$ref":"#/definitions/ModeleCommande"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-consigne":{"post":{"tags":["controleur-commande"],"summary":"editerConsigne","operationId":"editerConsigneUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleEditerConsigne","description":"modeleEditerConsigne","required":true,"schema":{"$ref":"#/definitions/ModeleEditerConsigne"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-date-livraison":{"post":{"tags":["controleur-commande"],"summary":"editerDateLivraisonCommande","operationId":"editerDateLivraisonCommandeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"commande","description":"commande","required":true,"schema":{"$ref":"#/definitions/ModeleCommande"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleResultat"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-element-autre":{"post":{"tags":["controleur-commande"],"summary":"editerCommandeElementAutre","operationId":"editerCommandeElementAutreUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleElement","description":"modeleElement","required":true,"schema":{"$ref":"#/definitions/ModeleCommandeElementAutre"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-element-bouteille":{"post":{"tags":["controleur-commande"],"summary":"editerCommandeElementBouteille","operationId":"editerCommandeElementBouteilleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleElement","description":"modeleElement","required":true,"schema":{"$ref":"#/definitions/ModeleCommandeElement"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-element-contenant":{"post":{"tags":["controleur-commande"],"summary":"editerCommandeElementContenant","operationId":"editerCommandeElementContenantUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleElement","description":"modeleElement","required":true,"schema":{"$ref":"#/definitions/ModeleCommandeElementContenant"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-element-fut":{"post":{"tags":["controleur-commande"],"summary":"editerCommandeElementFut","operationId":"editerCommandeElementFutUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleElement","description":"modeleElement","required":true,"schema":{"$ref":"#/definitions/ModeleCommandeElementFut"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-element-location":{"post":{"tags":["controleur-commande"],"summary":"editerCommandeElementLocation","operationId":"editerCommandeElementLocationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleElement","description":"modeleElement","required":true,"schema":{"$ref":"#/definitions/ModeleCommandeElementLocation"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-element-matiere-premiere":{"post":{"tags":["controleur-commande"],"summary":"editerCommandeElementMatierePremiere","operationId":"editerCommandeElementMatierePremiereUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleElement","description":"modeleElement","required":true,"schema":{"$ref":"#/definitions/ModeleCommandeElementMatierePremiere"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-element-saisie-libre":{"post":{"tags":["controleur-commande"],"summary":"editerCommandeElementSaisieLibre","operationId":"editerCommandeElementSaisieLibreUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleElement","description":"modeleElement","required":true,"schema":{"$ref":"#/definitions/ModeleCommandeElementSaisieLibre"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModeleCommande"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-frais-livraison":{"post":{"tags":["controleur-commande"],"summary":"editerFraisLivraison","operationId":"editerFraisLivraisonUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"modeleCommande","description":"modeleCommande","required":true,"schema":{"$ref":"#/definitions/ModeleCommande"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commande/editer-information-livraison":{"post":{"tags":["controleur-commande"],"summary":"editerInformationLivrai
[...]
