{
  "openapi": "3.0.1",
  "info": {
    "title": "Documentation API",
    "description": "Swagger prÃ©sentant les diffÃ©rents services REST JSON exposÃ©s. Tous les services sont sÃ©curisÃ©s avec du Basic Auth, en utilisant l'identifiant et mot de passe gÃ©nÃ©rÃ© dans votre compte EASYBEER",
    "contact": {
      "name": "Dev-Team",
      "url": "https://app.easybeer.fr",
      "email": "easybeer.fr@gmail.com"
    },
    "version": "2.2.6"
  },
  "servers": [
    {
      "url": "//api.easybeer.fr/"
    }
  ],
  "tags": [
    {
      "name": "controleur-action",
      "description": "Controleur Action"
    },
    {
      "name": "controleur-brassage-evenement",
      "description": "Controleur Brassage Evenement"
    },
    {
      "name": "controleur-brasserie",
      "description": "Controleur Brasserie"
    },
    {
      "name": "controleur-brassin",
      "description": "Controleur Brassin"
    },
    {
      "name": "controleur-caisse",
      "description": "Controleur Caisse"
    },
    {
      "name": "controleur-commande",
      "description": "Controleur Commande"
    },
    {
      "name": "controleur-comptabilite",
      "description": "Controleur Comptabilite"
    },
    {
      "name": "controleur-crm",
      "description": "Controleur CRM"
    },
    {
      "name": "controleur-dashboard",
      "description": "Controleur Dashboard"
    },
    {
      "name": "controleur-document",
      "description": "Controleur Document"
    },
    {
      "name": "controleur-douane",
      "description": "Controleur Douane"
    },
    {
      "name": "controleur-formation",
      "description": "Controleur Formation"
    },
    {
      "name": "controleur-fourniture",
      "description": "Controleur Fourniture"
    },
    {
      "name": "controleur-fut",
      "description": "Controleur Fut"
    },
    {
      "name": "controleur-hey-billy",
      "description": "Controleur Hey Billy"
    },
    {
      "name": "controleur-indicateur",
      "description": "Controleur Indicateur"
    },
    {
      "name": "controleur-lavage",
      "description": "Controleur Lavage"
    },
    {
      "name": "controleur-location",
      "description": "Controleur Location"
    },
    {
      "name": "controleur-marketplace",
      "description": "Controleur Marketplace"
    },
    {
      "name": "controleur-notification",
      "description": "Controleur Notification"
    },
    {
      "name": "controleur-ordonnanceur",
      "description": "Controleur Ordonnanceur"
    },
    {
      "name": "controleur-parametres",
      "description": "Controleur Parametres"
    },
    {
      "name": "controleur-partenaire",
      "description": "Controleur Partenaire"
    },
    {
      "name": "controleur-point-vente",
      "description": "Controleur Point Vente"
    },
    {
      "name": "controleur-preference",
      "description": "Controleur Preference"
    },
    {
      "name": "controleur-prestashop",
      "description": "Controleur Prestashop"
    },
    {
      "name": "controleur-profil",
      "description": "Controleur Profil"
    },
    {
      "name": "controleur-publipostage",
      "description": "Controleur Publipostage"
    },
    {
      "name": "controleur-referentiel",
      "description": "Controleur Referentiel"
    },
    {
      "name": "controleur-shopify",
      "description": "Controleur Shopify"
    },
    {
      "name": "controleur-sidely",
      "description": "Controleur Sidely"
    },
    {
      "name": "controleur-stock",
      "description": "Controleur Stock"
    },
    {
      "name": "controleur-support",
      "description": "Controleur Support"
    },
    {
      "name": "controleur-tracabilite",
      "description": "Controleur Tracabilite"
    },
    {
      "name": "controleur-woo-commerce",
      "description": "Controleur Woo Commerce"
    }
  ],
  "paths": {
    "/action/liste": {
      "post": {
        "tags": [
          "controleur-action"
        ],
        "summary": "listePagineeActions",
        "operationId": "listePagineeActionsUsingPOST",
        "parameters": [
          {
            "name": "colonneTri",
            "in": "query",
            "description": "colonneTri",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nombreParPage",
            "in": "query",
            "description": "nombreParPage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "numeroPage",
            "in": "query",
            "description": "numeroPage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "modeleFiltre",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleActionFiltre"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListePagineeOfModeleAction"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleFiltre"
      }
    },
    "/brassage/evenement/enregistrer": {
      "post": {
        "tags": [
          "controleur-brassage-evenement"
        ],
        "summary": "enregistrer",
        "operationId": "enregistrerUsingPOST",
        "requestBody": {
          "description": "modeleBrassageEvenement",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassageEvenement"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleId"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleBrassageEvenement"
      }
    },
    "/brassage/evenement/supprimer/{idEvennement}": {
      "get": {
        "tags": [
          "controleur-brassage-evenement"
        ],
        "summary": "supprimer",
        "operationId": "supprimerUsingGET",
        "parameters": [
          {
            "name": "idEvennement",
            "in": "path",
            "description": "idEvennement",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassage/evenement/{idEvenement}": {
      "get": {
        "tags": [
          "controleur-brassage-evenement"
        ],
        "summary": "editerEtapeBrassage",
        "operationId": "editerEtapeBrassageUsingGET",
        "parameters": [
          {
            "name": "idEvenement",
            "in": "path",
            "description": "idEvenement",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrassageEvenement"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "brasserieUtilisateurCourant",
        "operationId": "brasserieUtilisateurCourantUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrasserie"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/acces-client-pro/lien": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "genererLienAccesClientPro",
        "operationId": "genererLienAccesClientProUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleResultat"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/attestation/telecharger": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "attestation",
        "operationId": "attestationUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/InputStreamResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/cgv": {
      "post": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "cgvBrasserieUpload",
        "operationId": "cgvBrasserieUploadUsingPOST",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "file",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleUpload"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/cgv/supprimer": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "supprimerCgv",
        "operationId": "supprimerCgvUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/cgv/telecharger": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "telechargerCgv",
        "operationId": "telechargerCgvUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/InputStreamResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/cgv/visualiser": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "visualiserCgv",
        "operationId": "visualiserCgvUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/InputStreamResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/compte/achat": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "compteAchatBrasserie",
        "operationId": "compteAchatBrasserieUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModelePlanComptable"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/compte/produit": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "compteProduitBrasserie",
        "operationId": "compteProduitBrasserieUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModelePlanComptable"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/compte/service": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "compteServiceBrasserie",
        "operationId": "compteServiceBrasserieUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModelePlanComptable"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/demande-contact/lien": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "genererLienDemandeContactProspect",
        "operationId": "genererLienDemandeContactProspectUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleResultat"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/demande-creation-compte": {
      "post": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "demandeCreationCompte",
        "operationId": "demandeCreationCompteUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleFormulaireProspect"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleResultat"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brasserie/masque": {
      "post": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "masqueBrasserieUpload",
        "operationId": "masqueBrasserieUploadUsingPOST",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "file",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleUpload"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/masque/supprimer": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "supprimerMasque",
        "operationId": "supprimerMasqueUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/masque/telecharger": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "telechargerMasque",
        "operationId": "telechargerMasqueUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/InputStreamResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/masque/visualiser": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "visualiserMasque",
        "operationId": "visualiserMasqueUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/InputStreamResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brasserie/message/liste": {
      "post": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "listePagineeMessages",
        "operationId": "listePagineeMessagesUsingPOST",
        "parameters": [
          {
            "name": "colonneTri",
            "in": "query",
            "description": "colonneTri",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nombreParPage",
            "in": "query",
            "description": "nombreParPage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "numeroPage",
            "in": "query",
            "description": "numeroPage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "modeleFiltre",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleMessageFiltre"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListePagineeOfModeleLogMessage"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleFiltre"
      }
    },
    "/brasserie/smtp/test": {
      "post": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "testConfigurationSMTP",
        "operationId": "testConfigurationSMTPUsingPOST",
        "requestBody": {
          "description": "modeleMail",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleMail"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ReponseMail"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleMail"
      }
    },
    "/brasserie/token/{token}": {
      "get": {
        "tags": [
          "controleur-brasserie"
        ],
        "summary": "recupererBrasserieToken",
        "operationId": "recupererBrasserieTokenUsingGET",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrasserie"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/ajouter-ingredient-conditionnement": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "ajouterIngredientConditionnement",
        "operationId": "ajouterIngredientConditionnementUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleStockConditionnement"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/annuler": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "annuler",
        "operationId": "annulerUsingPOST",
        "requestBody": {
          "description": "modeleBrassinAnnulation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinAnnulation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleBrassinAnnulation"
      }
    },
    "/brassin/annuler-archivage/{idBrassin}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "annulerArchivage",
        "operationId": "annulerArchivageUsingGET",
        "parameters": [
          {
            "name": "idBrassin",
            "in": "path",
            "description": "idBrassin",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/annuler-mise-en-bouteille/{idBrassin}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "annulerMiseEnBouteille",
        "operationId": "annulerMiseEnBouteilleUsingGET",
        "parameters": [
          {
            "name": "idBrassin",
            "in": "path",
            "description": "idBrassin",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/archives": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "listePagineeBrassinsArchives",
        "operationId": "listePagineeBrassinsArchivesUsingPOST",
        "parameters": [
          {
            "name": "colonneTri",
            "in": "query",
            "description": "colonneTri",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nombreParPage",
            "in": "query",
            "description": "nombreParPage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "numeroPage",
            "in": "query",
            "description": "numeroPage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "modeleFiltre",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinFiltre"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListePagineeOfModeleBrassin"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleFiltre"
      }
    },
    "/brassin/archives/export": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "exportBrassinsArchives",
        "operationId": "exportBrassinsArchivesUsingPOST",
        "parameters": [
          {
            "name": "colonneTri",
            "in": "query",
            "description": "colonneTri",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nombreParPage",
            "in": "query",
            "description": "nombreParPage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "numeroPage",
            "in": "query",
            "description": "numeroPage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "modeleFiltre",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinFiltre"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/InputStreamResource"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleFiltre"
      }
    },
    "/brassin/assemblage": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "assemblage",
        "operationId": "assemblageUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinAssemblage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/assemblage/liste/{idBrassin}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "listeBrassinAssemblage",
        "operationId": "listeBrassinAssemblageUsingGET",
        "parameters": [
          {
            "name": "idBrassin",
            "in": "path",
            "description": "idBrassin",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModeleBrassin"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/changer-etape": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "changerBrassinEtape",
        "operationId": "changerBrassinEtapeUsingPOST",
        "requestBody": {
          "description": "modeleBrassinChangementEtape",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinChangementEtape"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrassin"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleBrassinChangementEtape"
      }
    },
    "/brassin/cout-production/maj-cout-revient": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "majCoutRevientUnitaireStockProduit",
        "operationId": "majCoutRevientUnitaireStockProduitUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleMAJCoutRevient"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/cout-production/{idBrassin}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "coutProductionBrassin",
        "operationId": "coutProductionBrassinUsingGET",
        "parameters": [
          {
            "name": "idBrassin",
            "in": "path",
            "description": "idBrassin",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrassinCoutProduction"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/decaler": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "decaler",
        "operationId": "decalerUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/deduction-stocks-conditionnement": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "deductionStocksConditionnement",
        "operationId": "deductionStocksConditionnementUsingPOST",
        "requestBody": {
          "description": "modeleStockProduit",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleStockProduit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrassinDeductionStockConditionnement"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleStockProduit"
      }
    },
    "/brassin/demarrer": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "demarrer",
        "operationId": "demarrerUsingPOST",
        "requestBody": {
          "description": "modeleBrassin",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleBrassin"
      }
    },
    "/brassin/determiner-identifiant": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "determinerIdentifiantBrassin",
        "operationId": "determinerIdentifiantBrassinUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinDeterminerIdentifiant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleResultat"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/detruire": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "detruire",
        "operationId": "detruireUsingPOST",
        "requestBody": {
          "description": "modeleBrassinDestruction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinDestruction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleBrassinDestruction"
      }
    },
    "/brassin/distillation/enregistrer": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "creationDistillation",
        "operationId": "creationDistillationUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinDistillation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/duplication/{idBrassin}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "chargerBrassinDuplication",
        "operationId": "chargerBrassinDuplicationUsingGET",
        "parameters": [
          {
            "name": "idBrassin",
            "in": "path",
            "description": "idBrassin",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrassin"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/editer-cout-eau": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "editerCoutEau",
        "operationId": "editerCoutEauUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinEditerCoutEau"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/editer-cout-ingredient": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "editerCoutIngredient",
        "operationId": "editerCoutIngredientUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinIngredient"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/editer-date-retour-embouteilleur": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "editerDateRetourEmbouteilleur",
        "operationId": "editerDateRetourEmbouteilleurUsingPOST",
        "requestBody": {
          "description": "modeleBrassin",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrassin"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleBrassin"
      }
    },
    "/brassin/editer-date-sortie-embouteilleur": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "editerDateSortieEmbouteilleur",
        "operationId": "editerDateSortieEmbouteilleurUsingPOST",
        "requestBody": {
          "description": "modeleBrassin",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrassin"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleBrassin"
      }
    },
    "/brassin/edition/{idBrassin}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "editerBrassin",
        "operationId": "editerBrassinUsingGET",
        "parameters": [
          {
            "name": "idBrassin",
            "in": "path",
            "description": "idBrassin",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrassin"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/elevage/annuler-archiver/{id}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "annulerArchiverElevage",
        "operationId": "annulerArchiverElevageUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/elevage/archiver": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "archiverElevage",
        "operationId": "archiverElevageUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinElevageArchiver"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/elevage/archives": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "getElevagesArchives",
        "operationId": "getElevagesArchivesUsingPOST",
        "parameters": [
          {
            "name": "colonneTri",
            "in": "query",
            "description": "colonneTri",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nombreParPage",
            "in": "query",
            "description": "nombreParPage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "numeroPage",
            "in": "query",
            "description": "numeroPage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "modeleFiltre",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinElevageFiltre"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListePagineeOfModeleBrassinElevage"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleFiltre"
      }
    },
    "/brassin/elevage/detail/{id}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "getElevage",
        "operationId": "getElevageUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrassinElevage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/elevage/disponibles": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "getElevagesDisponibles",
        "operationId": "getElevagesDisponiblesUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModeleBrassinElevage"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/elevage/distillation/enregistrer": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "creationDistillationElevage",
        "operationId": "creationDistillationElevageUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleElevageDistillation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/elevage/en-cours": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "elevagesEnCours",
        "operationId": "elevagesEnCoursUsingPOST",
        "parameters": [
          {
            "name": "colonneTri",
            "in": "query",
            "description": "colonneTri",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "modeleFiltre",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinElevageFiltre"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModeleBrassinElevage"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleFiltre"
      }
    },
    "/brassin/elevage/en-cours/synthese": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "syntheseElevagesEnCours",
        "operationId": "syntheseElevagesEnCoursUsingPOST",
        "parameters": [
          {
            "name": "colonneTri",
            "in": "query",
            "description": "colonneTri",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "modeleFiltre",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinElevageFiltre"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/InputStreamResource"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleFiltre"
      }
    },
    "/brassin/elevage/enregistrer": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "enregistrerElevage",
        "operationId": "enregistrerElevageUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinElevage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/elevage/fiche-fabrication": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "ficheFabricationElevage",
        "operationId": "ficheFabricationElevageUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinElevageGenererFiche"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/InputStreamResource"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/elevage/part-anges": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "appliquerPartAnges",
        "operationId": "appliquerPartAngesUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinPartAnges"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/elevage/reduction": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "reductionElevage",
        "operationId": "reductionElevageUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinElevageReduction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/elevage/supprimer/{id}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "supprimerElevage",
        "operationId": "supprimerElevageUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/elevage/transfert": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "transfertElevage",
        "operationId": "transfertElevageUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinElevageTransfert"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/elevage/upload/{id}": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "uploadFichierElevage",
        "operationId": "uploadFichierElevageUsingPOST",
        "parameters": [
          {
            "name": "commentaire",
            "in": "query",
            "description": "commentaire",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "fichier"
                ],
                "type": "object",
                "properties": {
                  "fichier": {
                    "type": "string",
                    "description": "fichier",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleUpload"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/elevage/vider": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "viderElevage",
        "operationId": "viderElevageUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinElevageVidage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/en-cours": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "brassinsEnCours",
        "operationId": "brassinsEnCoursUsingPOST",
        "requestBody": {
          "description": "modeleFiltre",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinFiltre"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrassageEnCours"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleFiltre"
      }
    },
    "/brassin/en-cours/liste": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "listeBrassinsEnCours",
        "operationId": "listeBrassinsEnCoursUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModeleBrassin"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/enregistrer": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "enregistrer",
        "operationId": "enregistrerUsingPOST_1",
        "requestBody": {
          "description": "modeleBrassin",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleId"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleBrassin"
      }
    },
    "/brassin/fiche-fabrication": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "ficheFabricationBrassin",
        "operationId": "ficheFabricationBrassinUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinGenererFiche"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/InputStreamResource"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/informations-etape": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "getInformationsEtape",
        "operationId": "getInformationsEtapeUsingPOST",
        "requestBody": {
          "description": "modeleBrassinChangementEtape",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinChangementEtape"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrassinEtapeSuivante"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleBrassinChangementEtape"
      }
    },
    "/brassin/liberer-materiel/{idMateriel}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "affecterMateriel",
        "operationId": "affecterMaterielUsingGET",
        "parameters": [
          {
            "name": "idMateriel",
            "in": "path",
            "description": "idMateriel",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/liste": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "listeBrassins",
        "operationId": "listeBrassinsUsingPOST",
        "requestBody": {
          "description": "periode",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Periode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModeleBrassin"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "periode"
      }
    },
    "/brassin/mesure/enregistrer": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "enregistrerMesure",
        "operationId": "enregistrerMesureUsingPOST",
        "requestBody": {
          "description": "modeleBrassinMesure",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleBrassinMesure"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleBrassinMesure"
      }
    },
    "/brassin/mesure/export/{idBrassin}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "exportSuiviQualiteBrassin",
        "operationId": "exportSuiviQualiteBrassinUsingGET",
        "parameters": [
          {
            "name": "idBrassin",
            "in": "path",
            "description": "idBrassin",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/InputStreamResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/mesure/supprimer/{idBrassinMesure}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "supprimerMesure",
        "operationId": "supprimerMesureUsingGET",
        "parameters": [
          {
            "name": "idBrassinMesure",
            "in": "path",
            "description": "idBrassinMesure",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/mesure/{idBrassin}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "mesures",
        "operationId": "mesuresUsingGET",
        "parameters": [
          {
            "name": "idBrassin",
            "in": "path",
            "description": "idBrassin",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleBrassinSuiviQualite"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/mise-en-bouteille": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "conditionnement",
        "operationId": "conditionnementUsingPOST",
        "requestBody": {
          "description": "modeleStockProduit",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModeleStockProduit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleResultat"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modeleStockProduit"
      }
    },
    "/brassin/planification-conditionnement/ajouter": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "ajouterPlanificationConditionnement",
        "operationId": "ajouterPlanificationConditionnementUsingPOST",
        "requestBody": {
          "description": "modele",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelePlanificationConditionnement"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "modele"
      }
    },
    "/brassin/planification-conditionnement/matrice": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "matricePlanificationConditionnement",
        "operationId": "matricePlanificationConditionnementUsingGET",
        "parameters": [
          {
            "name": "idBrassin",
            "in": "query",
            "description": "idBrassin",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idEntrepot",
            "in": "query",
            "description": "idEntrepot",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ModeleMatricePlanificationConditionnement"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/planification-conditionnement/supprimer/{id}": {
      "get": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "supprimerPlanificationConditionnement",
        "operationId": "supprimerPlanificationConditionnementUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseEntity"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/brassin/planifier": {
      "post": {
        "tags": [
          "controleur-brassin"
        ],
        "summary": "planifier",
[...]
